* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body {
    background-color: black;
    width: 100%;
    height: 100%;
}
#curser_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 99;
    background-color: #fff;
    border-radius: 50%;
    transition: cubic-bezier(0.1, 1, 0.2, 1) 0.8s;
}
#curser_circle p {
    display: none;
    font-size: small;
}
#wrapper {
    width: fit-content;
    /* border: rebeccapurple solid 1px; */
    overflow: hidden;
}

.wrap_content {
    transform: translateY(100%);
}

#landing_page {
    background-color: black;
    width: 100%;
    height: 100vh;
    color: #fff;
}

#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    padding: 2rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
}

#navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}
#navbar p {
    text-transform: uppercase;
    font-size: 1rem;
}

#heading {
    margin-top: 12vw;
    padding-left: 3rem;
    display: inline-block;
}
#heading h1 {
    text-transform: uppercase;
    font-size: 10vw;
    font-weight: bolder;
    opacity: 0.65;
    line-height: 90%;
    letter-spacing: 3px;
}
#heading h5 {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 0.9vw;
}
#heading .second_heading {
    display: flex;
    flex-direction: column;
    align-items: end;
    /* border: dashed 1px red; */
    padding-left: 10vw;
}

#slogan {
    margin-top: 7.5rem;
    padding-right: 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 1rem;
}
#slogan h5 {
    line-height: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 0.9rem;
}

#landing_footer {
    padding: 0vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#landing_footer a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 0.9rem;
    color: #fff;
    font-weight: bold;
}
#landing_footer a svg {
    padding-left: 1px;
    vertical-align: middle;
}
#landing_footer .arrows {
    display: flex;
    align-items: center;
    gap: 5px;
}
.arrows img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    rotate: 180deg;
}

#second_page {
    width: 100%;
    height: 100vh;
    padding-top: 200px;
    padding-right: 10vw;
    padding-left: 2.5vw;
    background-color: black;
    color: #fff;
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2.5rem 0rem;
    border-top: 1px solid #9b9a9a;
}
.content h1 {
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 7.5vw;
}
#second_page .content_last {
    border-bottom: 1px solid #9b9a9a;
}
#second_page img {
    height: 140%;
    z-index: 999;
    position: absolute;
    right: 50%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#profile_page {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 80px;
    background-color: black;
    color: #fff;
    padding: 28rem 10rem 5rem 2.5rem;
}
#profile_page .image {
    width: 240px;
    height: 240px;
    background-image: url("./icons/360_F_423597477_AKCjGMtevfCi9XJG0M8jter97kG466y7.jpg");
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.description h5 {
    text-transform: uppercase;
    font-size: 0.9rem;
    opacity: 0.8;
    font-weight: normal;
}
.description p {
    width: 450px;
    font-size: 1rem;
    line-height: 170%;
}
.description button {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0.2rem 1.1rem;
    background-color: black;
    color: #fff;
    border: #fff 1px solid;
    border-radius: 9999px;
}
#extra {
    background-color: black;
    padding: 10rem 2.5rem 2.5rem 2.5rem;
    color: #fff;
}
#extra p {
    text-transform: uppercase;
    font-size: 0.9rem;
    opacity: 0.7;
}
#extra a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
}
#extra a svg {
    padding-left: 1px;
    vertical-align: middle;
}

#main_footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 8rem 2.5rem 1rem 2.5rem;
}
#main_footer .left {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 30px;
}
#main_footer .left p {
    font-size: 1rem;
    font-weight: 500;
}
#main_footer .right {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
#main_footer .right a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

/* bottom border after hover */
.bottom_border {
    display: inline-block;
    padding-top: 5px;
}
.bottom_border::after {
    content: "";
    display: block;
    transform: scaleX(0);
    border-bottom: 1px solid white;
    transform-origin: right;
    transition: transform 0.5s ease;
}

.bottom_border:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* arrow rotaion after hover */
.arrow_rot:hover .bi-arrow-up-right {
    rotate: 45deg;
    transition: rotate 0.4s ease;
}

/* button hover fill animation
 */

.connect_button:hover {
    background-color: white;
    color: black;
    transition: all 0.7s ease-in;
    cursor: pointer;
}
/* media query */

/* Add a media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
    body {
        font-size: 16px; /* Adjust font size for better readability on smaller screens */
    }

    #curser_circle {
        display: none; /* Hide the cursor circle on mobile devices */
    }

    #landing_page {
        padding-top: 150px; /* Increase top padding for the landing page content */
    }

    #navbar {
        padding: 1.5rem 1.5rem; /* Reduce padding for the navigation bar */
    }

    #navbar a {
        font-size: 1rem; /* Reduce font size for navigation links */
    }

    #heading {
        margin-top: 10vw; /* Adjust margin-top for the heading */
        padding-left: 2rem;
    }

    #heading h1 {
        font-size: 17vw; /* Reduce font size for the heading */
    }

    #heading .second_heading {
        padding-left: 0; /* Adjust padding for the second heading */
    }
    #heading .second_heading h5 {
        margin-top: 5px;
        font-size: 0.7rem;
    }
    #slogan {
        margin-top: 5rem;
        padding-right: 1.5rem;
    }
    #slogan h5 {
        font-size: 0.7rem;
    }

    #landing_footer {
        padding: 0rem 1.5rem;
        margin-top: 5rem;
    }
    #landing_footer .arrows {
        display: none;
    }
    #landing_footer a {
        font-size: 0.7rem;
    }

    #second_page {
        padding: 0rem 1.5rem;
        padding-top: 9rem;
    }
    .content {
        padding: 0.8rem 0rem;
    }
    .content h1 {
        font-size: 13vw;
        font-weight: 400;
    }
    .content h5 {
        font-size: 0.7rem;
        font-weight: normal;
    }

    #profile_page {
        padding: 1rem 1.5rem 0rem 1.5rem;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
    }

    #profile_page .image {
        width: 220px; /* Reduce image size */
        height: 220px;
    }
    #profile_page .description h5 {
        font-size: 0.8rem;
    }
    #profile_page .description p {
        font-size: 0.9rem;
        width: fit-content;
    }
    #profile_page .description button {
        font-size: 0.75rem;
    }
    #extra {
        padding: 2rem 1.5rem 0rem 1.5rem;
    }
    #extra p {
        font-size: 0.8rem;
    }
    #extra a {
        font-size: 0.7rem;
    }
    #main_footer {
        padding: 7rem 1.5rem 1rem 1.5rem;
        flex-wrap: wrap-reverse;
        /* flex-direction: column-reverse; */
        align-items: flex-start;
        gap: 20px;
    }
    #main_footer .right {
        gap: 6vw;
        flex-wrap: wrap;
    }
    #main_footer .right a {
        font-size: 0.9rem;
    }
    #main_footer .left p {
        font-size: 0.9rem;
    }
}
